/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=DM+Sans:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap%27");
@import "tailwindcss";

@theme {
  --font-title: "Outfit", sans-serif;
  --font-desc: "DM Sans", sans-serif;
  --header-menu-txt-color-first: #0C0C0C;
  --global-txt-color: #0C0C0C;
  --header-menu-txt-color-second: #ffffff;
  --header-menu-txt-color-inner: #ffffff;
  --divider-color: #D6D6D6;
  --blog-post-border-content: 1px solid rgba(0, 0, 0, 0.05);
  --widget-bg-color: #F5F7F9;
  --blue:#002F46;
  --e-global-color-primary:#DE7731;
  --e-global-color-text:#3D3D3D;
  --e-global-color-secondary:#002F46;
  --orange: #DE7731;
  --header-menu-dropdown-item-txt-color: var(--global-txt-color);
  --header-menu-dropdown-item-txt-color-hover: var(--orange);
}
/* Mobile Toggle */
#mobile-toggle {
  width: 42px;
  height: 42px;
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.animated-icon1 {
  width: 26px;
  height: 12px;
  position: relative;
  margin: 0;
}

.animated-icon1 span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
  background: var(--header-menu-txt-color-first);
  transition: all .18s linear;
}

/* first line */
.animated-icon1 span:nth-child(1) {
  top: 0;
}

/* second line */
.animated-icon1 span:nth-child(2) {
  top: 10px;
}

/* Menu Open */
.animated-icon1.open span:nth-child(1) {
  top: 3px;
}

.animated-icon1.open span:nth-child(2) {
  top: 9px;
}

@media (max-width:1199px) {
  #mobile-toggle {
    display: flex;
  }
}

html {
  scroll-behavior: smooth;
}